
/* All icons used in the website */

@font-face {
    font-family: 'icons';
    src:  url('fonts/icons.eot?cbimvm');
    src:  url('fonts/icons.eot?cbimvm#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?cbimvm') format('truetype'),
    url('fonts/icons.woff?cbimvm') format('woff'),
    url('fonts/icons.svg?cbimvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Search:before {
    content: "\e900";
}
.icon-Search{
    margin-top: 5px;
    font-size: 20px;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=-0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
}
.icon-Quit:before {
    content: "\e901";
}
.icon-Dropdown:before {
    content: "\e902";
}
.icon-Dropdown {
    font-size: 5px;
    margin-top: 18px !important;
}
.icon-Like:before {
    content: "\e903";
}
.icon-Comments:before {
    content: "\e904";
}
.icon-Time:before {
    content: "\e905";
}
.icon-Profile:before {
    content: "\e906";
}
.icon-Edit:before {
    content: "\e907";
}
.icon-Dark-Mode:before {
    content: "\e908";
}
.icon-Light-Mode:before {
    content: "\e909";
}
.icon-disconnect:before {
    content: "\e90a";
}

/* All fonts and text styles used in the website */

@font-face {
    font-family: 'Montserrat';
    src:  url('fonts/Montserrat/Montserrat-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-medium';
    src:  url('fonts/Poppins/Poppins-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src:  url('fonts/Poppins/Poppins-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.post-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
    color: var(--primary-text-color) !important;
}
.titre1{
    font-family: 'Poppins-medium', sans-serif;
    font-size: 36px;
    color: var(--primary-text-color) !important;
}
.titre2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--primary-text-color) !important;
}
.titre2-Underlined{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--primary-text-color) !important;
    text-decoration: underline;
}
.titre3-Underlined{
    font-family: 'Poppins-medium', sans-serif;
    font-size: 48px;
    color: var(--primary-text-color) !important;
    text-decoration: underline;
}
.buttonText{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--secondary-bg-color) !important;
}
.headline1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--primary-text-color) !important;
}
.headline2{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color) !important;
}