/* All colors variables */

:root{
    --primary-text-color: #2A2D34;
    --primary-text-hover-color: #1E222C;
    --primary-text-active-color: #717885;
    --primary-text-transparent-color: rgba(42, 45, 52, 0.5);
    --primary-bg-color: #EDEEF0;
    --primary-blue-color: #336984;
    --primary-blue-hover-color: #255371;

    --secondary-text-color: #FCFCFC;
    --secondary-bg-color: #FCFCFC;
    --secondary-bg-hover-color: #ECECEC;
    --darker-bg-color: #D3DBDE;
    --darker-bg-hover-color: #BEC6C9;
    --scroller-color: #aeaeb0;

    --shadow-color: rgba(42, 45, 52, 0.25);
    --alert-color: #D62442;
    --correct-color: #6ed073;
    --like-color: #EA5D68;
    --like-stroke-color: #CE525D;
    --comment-color: #5982EB;
    --comment-stroke-color: #4F73CF;
}
.dark-theme{
    --primary-text-color: #FCFCFC;
    --primary-text-hover-color: #d5d6d7;
    --primary-text-active-color: #D3E0E5;
    --primary-text-transparent-color: rgba(252, 252, 252, 0.5);
    --primary-bg-color: #202935;
    --primary-blue-color: #82CAF0;
    --primary-blue-hover-color: #5FA0CE;

    --secondary-text-color: #1E222C;
    --secondary-bg-color: #2B333C;
    --secondary-bg-hover-color: #1F2733;
    --darker-bg-color: #1F2733;
    --darker-bg-hover-color: #161E2B;
    --scroller-color: rgba(89, 89, 89, 0.5);

    --shadow-color: rgba(252, 252, 252, 0.15);
    --alert-color: #D62442;
    --correct-color: #6ed073;
    --like-color: #EA5D68;
    --like-stroke-color: #CE525D;
    --comment-color: #5982EB;
    --comment-stroke-color: #4F73CF;
}

/* All colors variables */



/* Design for the scroll bar */

::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--primary-bg-color);
}
.dropdown-game-menu::-webkit-scrollbar-track, .post-box::-webkit-scrollbar-track,
.game-select div.inner.show::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroller-color);
}
.scroller {
    scrollbar-color: var(--scroller-color) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

/* Design for the scroll bar */


/****************************************************  General  *******************************************************/


/* General */

body{
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
    overflow-y: scroll;
    display: none; /* To make a smooth fade in js */
}
a{
    text-decoration: none;
    color: var(--primary-text-color);
}
a:hover{
    color: var(--primary-text-hover-color);
}
a.link:hover{
    text-decoration: underline;
    color: var(--primary-text-hover-color);
}
.page-content{
    margin: 81px 160px 50px 160px;
    padding: 50px 5px 50px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/* used to hide a form input to get data from the page */
.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden !important;
}
/* General */


/**************************************************  Profile pictures  ************************************************/


/* Profile pictures */

.profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-bottom: 3px;
}
.post img.profile-pic{
    width: 50px;
    height: 50px;
}

/* Profile pictures */


/****************************************************  Navbar  ********************************************************/


/* Navbar */

.navbar{
    width: 100%;
    height: 61px;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 !important;
    box-shadow: 0 0 4px 1px var(--shadow-color);
}
.navbar-brand{
    height: 61px;
    margin-left: 10px;
    margin-top: 5px;
}
.navbar-brand img{
    width: 100px;
    height: 45px;
}
.navbar-brand p{
    display: inline-block;
}
.bg-light{
    background-color: var(--secondary-bg-color) !important;
}
.navbar-collapse.row{
    margin-left: 0 !important;
}

/* Search bar */

/* Game dropdown */
a.dropdown-item{
    color: var(--primary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}
a.dropdown-item:hover, button.dropdown-item:hover{
    color: var(--primary-text-hover-color);
    background-color: var(--primary-bg-color) !important;
}
div.game-select .btn.dropdown-toggle{
    height: 40px;
    background-color: var(--darker-bg-color);
    border-radius: 10px 0 0 10px;
    border: 0;
    margin-right: 4px;
}
div.game-select .btn.dropdown-toggle:focus{
    color: var(--primary-text-color);
    box-shadow: 0 0 4px 2px var(--darker-bg-hover-color) !important;
    background-color: var(--primary-bg-color) !important;
    border: 0;
    outline: 0 !important;
}
div.game-select .btn.dropdown-toggle:hover{
    color: var(--primary-text-color);
    background-color: var(--darker-bg-hover-color);
}
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: var(--primary-text-transparent-color);
}
.game-select .dropdown-menu{
    width: 300px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 0 0 4px var(--shadow-color);
    padding: .5rem 0 .5rem 0 !important;
    background-color: var(--secondary-bg-color);
    border: 0 !important;
    margin-top: 12px !important;
}
.game-select div.inner.show{
    height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.game-select .dropdown-menu.show{
    height: 300px;
}
.bootstrap-select .dropdown-menu.inner{
    margin-top: 0 !important;
}
.game-select .no-results{
    color: var(--primary-text-color);
    background-color: transparent;
}
.game-select .form-control{
    margin-left: 0;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    border: 0;
}
.dropdown-item.active{
    color: var(--primary-blue-color);
    background-color: transparent;
}
.btn-light{
    color: var(--primary-text-color);
}
.bootstrap-select .dropdown-menu li a span.text{
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}
.game-select a.dropdown-item {
    padding-right: 30px;
}
.filter-option-inner-inner {
    font-size: 18px;
    margin-top: -1px;
}

/* Game dropdown */


form.search-bar .form-control.bar{
    height: 40px;
    background-color: var(--darker-bg-color);
    border: 0 !important;
    border-radius: 0;
    width: 70%;
    margin-left: 4px;
}
form .form-control:focus, form button.search-button:focus, form button.search-button:active{
    color: var(--primary-text-color);
    box-shadow: 0 0 4px 2px var(--darker-bg-hover-color) !important;
    background-color: var(--primary-bg-color) !important;
}
form.search-bar{
    width: 80%;
    height: 45px;
    margin-top: 5px;
}
form button.search-button{
    height: 40px;
    width: 58px;
    background-color: var(--darker-bg-color);
    border-radius: 0 10px 10px 0;
    border: 0;
    margin-left: 4px;
    color: var(--primary-text-transparent-color);
}
form button.search-button:hover {
    color: var(--primary-text-color);
    background-color: var(--darker-bg-hover-color);
    border: none;
}
form.search-bar input:hover{
    outline: var(--darker-bg-hover-color) solid 4px;
}
::placeholder{
    color: var(--primary-text-transparent-color) !important;
}

/* Search bar */


/* Account */

.dropdown-profile-menu{
    width: 200px;
    margin-top: 10px;
}
.dropdown-profile-menu .dropdown-item{
    padding-left: 10px;
}
button#theme-toggle{
    color: var(--primary-text-color);
}

/* account styling */

/* Navbar styling */


/***************************************************  New-post page  **************************************************/


/** newpost page **/

.titleArea {
    margin-top: 40px;
}
.contentArea {
    margin-top: 50px;
    margin-bottom: 40px;
}
.newpost-title {
    width: 100%;
    border-radius: 10px !important;
}
/*.game-select select{*/
/*    border-radius: 10px;*/
/*    background-color: var(--darker-bg-color);*/
/*    width: 10%;*/
/*    height: 35px;*/
/*}*/
/*.game-select select:hover{*/
/*    border: none;*/

/*}*/
/*.game-select select option{*/
/*    color: var(--primary-text-color);*/
/*    display: inline-block;*/
/*}*/
.newpost-content.formTextArea {
    width: 100%;
    height: 350px;
    border-radius: 10px !important;
}

/** newpost page **/


/***************************************************  Profile page  ***************************************************/


/** profile page style **/

.profile-page{
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    width: 600px;
}
.profile-page-content{
    padding: 35px 100px 35px 100px;
}
.profile-page-content input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    text-indent: 15px;
}
.profile-page-content .profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.EditBtn{
    position: absolute;
    left: 335px;
    top: 160px;
    border-radius: 100px !important;
    height: 37px !important;
    font-size: small;
    display: flex;
    align-items: center;
}
#formFile{
    display: none;
}
.profile-picture{
    padding: 0 50px 0 50px;
    margin-top: 4%;
    margin-bottom: 12%;
}
.username, .email, .password {
    margin-bottom: 8%;
}
.likencomments{
    margin-top: 12%;
    color: var(--primary-text-color);
}
.likencomments div{
    margin-left: 25%;
}
.likencomments p {
    display: inline-block;
}
.bg-main {
    background: var(--primary-blue-color);
}

/** profile page style **/


/****************************************************  Dropdowns  *****************************************************/


/* Dropdowns */

.dropdown-menu{
    margin-top: 8px !important;
}
.dropdown-profile-menu.dropdown-menu{
    margin-top: 13px !important;
}
.dropdown-divider{
    padding: 0 !important;
}
.dropdown-item:focus{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-hover-color);
}
.dropdown-window-menu{
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 4px var(--shadow-color);
    padding: .5rem 0 .5rem 0 !important;
    background-color: var(--secondary-bg-color);
    border: 0px !important;
}

/* Dropdowns */


/*****************************************************  Buttons  ******************************************************/


/* Buttons style */

.btn-style{
    border-radius: 8px;
    height: 50px;
    background-color: var(--primary-blue-color);
    border: 0px;
    color: var(--secondary-text-color);
}
.btn-style:hover {
    background-color: var(--primary-blue-hover-color);
}
.btn-style:active, .btn-style:focus, .btn-style:target {
    background-color: var(--primary-blue-hover-color) !important;
    box-shadow: none !important;
}

/* Buttons style */


/****************************************************  Posts  *********************************************************/


/* Styling for posts */

.post-content{
    margin: 15px 0px 15px 0px;
}
.user-account{
    margin-bottom: 15px;
    word-break: break-all;
}
.post-time{
    display: inline-block;
    margin-left: 20px;
    color: var(--primary-text-transparent-color) !important;
}
.post-title{
    word-break: break-word;
}
span t.headline2{
    margin-left: 10px;
}
.comment-btn span.icon-Comments, .like-btn span.icon-Like{
    color: var(--primary-text-color);
}
.comment-btn:hover span.icon-Comments{
    color: var(--comment-color);
}
.like-btn:hover span.icon-Like, .liked span.icon-Like{
    color: var(--like-color);
}
.like-btn:focus, .comment-btn:focus{
    box-shadow: none;
}
.comments{
    margin-left: 100px;
}
.comment{
    margin-top: 40px;
}
.nb-likes{
    display: inline-block;
}
.nb-comms{
    display: inline-block;
    margin-left: 60px;
}
.post-box .box-divider:last-child{
    display: none;
}


/* add comment modal */
.modal-header{
    border-bottom: 2px solid var(--secondary-bg-color);
}
.modal-content {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-blue-color);
    border-radius: 15px;
}
.modal-dialog{
    max-width: 1000px;
    margin: 10vh auto 0 auto;
}
.modal-body .formTextArea{
    height: 400px;
    border-radius: 10px;
    border: 0;
}
form .modal-body .form-control.formTextArea {
    background-color: var(--secondary-bg-color);
}
.modal .modal-body .form-control{
    resize: none;
    transition: 0.25s;
}
.modal .modal-body .form-control:focus{
    transition: 0.25s;
    border: 0 !important;
    background-color: var(--secondary-bg-color) !important;
}
.modal-footer{
    border-top: 2px solid var(--secondary-bg-color);
}
button.btn-close {
    width: 5%;
    background: none;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--primary-text-color);
}
.btn-close:hover {
    color: var(--primary-text-hover-color);
}
.btn-close:focus {
    box-shadow: none;
}
/* add comment modal */


/* Home page posts */
.home-page-posts{
    margin: 50px 0 50px 0;
}
.post-box{
    width: 100%;
    height: 800px;
    overflow: auto;
    border: 2px solid var(--primary-blue-color);
    background-color: var(--secondary-bg-color);
    padding: 25px;
    border-radius: 10px 0 0 10px;
}
.box-divider{
    margin: 40px 100px 40px 100px;
    background-color: var(--primary-text-transparent-color);
    height: 2px;
}
/* Home page posts */


/* All posts page */

.all-posts .post-box{
    border-radius: 10px;
    height: 100%;
    border: 0;
}
nav ul.pagination{
    margin-top: 20px;
}
.page-item.active .page-link {
    color: var(--secondary-bg-color);
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
}
.page-link{
    color: var(--primary-blue-color);
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-hover-color);
}
.page-link:hover{
    color: var(--primary-blue-color);
    background-color: var(--secondary-bg-hover-color);
    border-color: var(--secondary-bg-color);
}
.page-item.disabled .page-link{
    color: var(--primary-text-transparent-color);
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-hover-color);
}
.page-link:focus {
    color: var(--primary-blue-color);
    background-color: var(--secondary-bg-hover-color);
    box-shadow: 0 0 0 0.25rem var(--shadow-color);
}
.page-item:first-child .page-link {
    border-radius: 10px 0 0 10px;
}
.page-item:last-child .page-link {
    border-radius: 0 10px 10px 0;
}
.nbrResults{
    margin-top: 25px;
    text-align: right;
}
/* All posts page */

/* Styling for posts */


/*************************************************  Breakpoints  ******************************************************/


/* All the above is for XXL screens since the website is desktop first designed */
/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
    body{
        /*background-color: red;*/
    }
    ul.navbar-nav.game{
        margin-left: 10%;
    }
    .page-content{
        margin: 61px 120px 50px 120px;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    body{
        /*background-color: green;*/
    }
    ul.navbar-nav.game{
        margin-left: 0;
    }
    form.search-bar{
        width: 80%;
        margin-left: 10%;
    }
    .page-content{
        margin: 61px 80px 50px 80px;
    }
}

/*Medium devices (tablets, less than 992px)  Navbar goes in mobile mode  */
@media (max-width: 991.98px) {
    body{
        /*background-color: yellow;*/
    }
    button.navbar-toggler {
        border: 0;
    }
    button.navbar-toggler:focus {
        box-shadow: 0 0 0 3px var(--primary-text-color);
    }
    .icon-Bars{
        color: var(--primary-text-color);
    }
    nav.navbar div.container-fluid{
        background-color: var(--secondary-bg-color);
        box-shadow: 0 0 4px 1px var(--shadow-color);
    }
    div.navbar-collapse ul.navbar-nav{
        margin-left: 0;
    }
    ul.navbar-nav.ms-auto{
        margin-bottom: 20px;
    }
    .navbar-collapse.row{
        display: block !important;
    }
    form.search-bar{
        width: 100%;
        margin-left: 0;
    }
    .nav.col-3, .nav.col-6{
        width: 80%;
    }

    /* Posts */
    .post-box{
        height: 100%;
        border-radius: 10px;
        border: 0;
    }
    .comments{
        margin-left: 50px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    body{
        /*background-color: pink;*/
    }
    .post-time{
        display: block;
        margin-left: 0;
    }
    .page-content{
        margin: 61px 50px 50px 50px;
    }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{
        /*background-color: magenta;*/
    }
}